# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* To become familiar with Jupyter Notebooks.
* To understand Data visualization in a better way.
* To perform live coding

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

#### Some of the commonly used libraries used by Data Scientists include:
* TensorFlow
* Pandas
* NumPy

| Data Science Tools |
| :---- | 
| Apache Spark |
| TensorFlow |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
print((3 * 4) + 5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
total_minutes = 200
minutes_in_hour = 60
result = 200/60
print(result)

3.3333333333333335

## Author
Yash Bhoir